
body {
    background-color: #16191A;
    background-image: url(./img/background-green.jpg);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
  
    
}

@font-face {
    font-family: 'digital';
    src: url(DS-DIGI.TTF) format('truetype');
    font-weight: normal;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;


}

#display {
    border: 15px solid lime;
    border-radius: 10px;
    width: 80%;
    text-align: center;

}

p {
    text-align: center;
    font-family: 'digital';
    font-weight: normal;
    color: lime;
    margin: 0;

    
 
}

p {
border-radius: 10px;
border-width: 10px;
font-size: 18em;
padding: 5px;
}

.data {
    text-align: center;
    font-family: 'digital';
    font-weight: normal;
    font-size: 6em;
    color: lime;

}

footer{
    text-align: center;
    font-family: 'digital';
    font-weight: normal;
    color: lime;
    font-size: 2em;
}

footer a {
    text-decoration: none;
    color: lime;
    cursor: pointer;
}

footer a:hover {
    color: white;

}


@media (max-width: 1400px) {
    #display > p {
        font-size:15em;
    }
}

@media (max-width: 1000px) {
    #display > p {
        font-size:14em;
    
    }
            

}

@media (max-width: 910px) {
    #display > p  {
        font-size:13em;
    }
}

@media (max-width: 880px) {
    #display > p  {
        font-size:12em;
    }
}

@media (max-width: 760px) {
    #display > p  {
        font-size:11em;
    }
}

@media (max-width: 700px) {
    #display > p  {
        font-size:11em;
    }
    .data {
        font-size: 5em;
     }
}

@media (max-width: 690px) {
    #display > p  {
        font-size: 9em;
    }
    .data {
        font-size: 4em;
     }
}

@media (max-width: 570px) {
    #display > p  {
         font-size: 8em;
     }
     .data {
        font-size: 3em;
     }
    footer {
        font-size: 1em;
}

}

@media (max-width: 520px) {
    #display > p  {
         font-size: 6.5em;
     }
     .data {
        font-size: 3em;
     }
    footer {
        font-size: 1em;
}

}

@media (max-width: 480px) {
    #display {
        border: 10px solid lime;
        border-radius: 5px;
    }
    #display > p  {
         font-size: 5em;
     }
     .data {
        font-size: 3em;
     }
    footer {
        font-size: 1em;
}

}



@media (max-width: 375px) {   
    .container {
        display: flex;
        justify-content: flex-start;
        margin-top: 30%;
        height: 82vh;
    } 
    #display {
        border: 7px solid lime;
        border-radius: 5px;
        
    }
    #display > p {
         font-size: 4em;
         
         
     }
     .data {
        font-size: 2em;
     }
    footer {
        font-size: 1em;
}

}

@media (max-width: 320px) {
    .container {
        display: flex;
        justify-content: flex-start;
        margin-top: 30%;
        height: 82vh;
    }
    #display {
        border: 7px solid lime;
        border-radius: 5px;
    
    }
    #display > p {
         font-size: 4.2em;
     }
     .data {
        font-size: 2em;
     }
    footer {
        font-size: 1em;
}

}


